div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    background-color: lightblue;
    margin: 1px;
    span {
        font-size: 10px;
    }
}