div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    
    margin: 1px;
    span {
        font-size: 10px;
    }
}
.emptyCell{
    background-color: lightblue;
}
.foodCell{
    background-color: red;
}
.snakeNodeCell{
    background-color: lightpink;
}